<section id="evenements" class="events-section">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title" data-i18n="eventsTitle">Événements</h2>
            <p class="section-subtitle" data-i18n="eventsSubtitle">Découvrez nos prochains concerts et événements culturels</p>
        </div>

        <div class="facebook-widget-container">
            <div class="fb-page"
                 data-href="{{ site.data.site_meta.facebook_page_url }}"
                 data-tabs="events,timeline"
                 data-width="500"
                 data-height="600"
                 data-small-header="false"
                 data-adapt-container-width="true"
                 data-hide-cover="false"
                 data-show-facepile="false">
                <blockquote cite="{{ site.data.site_meta.facebook_page_url }}" class="fb-xfbml-parse-ignore">
                    <a href="{{ site.data.site_meta.facebook_page_url }}">Le 3 Cordes</a>
                </blockquote>
            </div>
        </div>
    </div>
</section>
